body{
    --backgroundColor: #c2c2c2;
    --secondaryButtonColor: #2020208a;
    --color: #202020;
    --buttonColor1: #028eeb;
    --buttonColor1effect: #0270b9;
    --borderColor: #202020;
}

body.dark{
    --backgroundColor: #202020;
    --secondaryButtonColor: #c2c2c28a;
    --color: #f0f0f0;
    --borderColor: #c0c0c0;
}

body{
    background-color: var(--backgroundColor);
    color: var(--color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 30px;
    
    border: 1.5px solid var(--borderColor);
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.329);
}

.input{
    border: 0;
}

.input-wrapper{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.39);
    border-radius: 4px;
    padding: 10px;
    border: 1px solid var(--borderColor);
}

.input-wrapper, .input{
    outline: none;
    background-color: transparent;
    color: var(--color);
    font-size: 1em;
    width: 100%;
}

.eye-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.inputBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputBox label{
    margin-left: 5px;
}


.button{
    padding: 8px;
    font-size: 1em;
    background-color: var(--buttonColor1);
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    font-weight: bold;
    color: #e3e3e3;
    cursor: pointer;
    transition: .1s;
}

.button:active{
    background-color: var(--buttonColor1effect);
}

.full-width{
    width: 100%;
}

.transparent{
    background-color: transparent;
    color: var(--color);
}

.transparent:active{
    background-color: var(--secondaryButtonColor);
    color: var(--backgroundColor);
}

.full-width-transparent{
    width: 100%;
    background-color: transparent;
}

.switch{
    appearance: none;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: .5px solid gray;
    background-color: transparent;
    box-shadow: inset 0px 0px 5px #00000088;
    transition: .5s;
    position: relative;
    cursor: pointer;

}

.switch:checked{
    transition: .5s;
}

.switch::before{
    content: '';
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--buttonColor1);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.8);
    transition: .5s;
}

.switch:checked::before{
    content: '';
    width: 50%;
    border-radius: 50%;
    background-color: var(--buttonColor1);
    position: absolute;
    top: 0;
    left: 50%;
    transition: .5s;
}